* {
	box-sizing: border-box;
}

.speaker-container {
	padding: 5em;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2em;
	background: rgb(34, 193, 195);
	background: linear-gradient(0deg, rgb(89, 4, 100) 0%, rgb(6, 10, 61) 57%, rgb(0, 0, 0) 100%);

}

.speaker {
	background: rgb(8, 1, 122);
	background: linear-gradient(180deg, rgba(8, 1, 122, 0) 22%, rgba(26, 26, 246, 0.43601190476190477) 78%, rgba(0, 212, 255, 0.44441526610644255) 100%);
	--blur: 1px;
	--size: clamp(10%, 50vmin, 400px);
	width: 100%;
	aspect-ratio: 2 / 3;
	position: relative;
	border-radius: 1.5rem;
	overflow: hidden;
	transform: translateZ(0);
	font-family:Arial, Helvetica, sans-serif
}

.speaker__img {
	width: 100%;
	height: 100%;
	object-fit: cover;

	transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * -5deg));
	transition: transform 0.2s;


}

.speaker__footer {
	margin: 0;
	padding: 0 1.5rem;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: grid;
	grid-template-rows: auto auto;
	background: #ffffff80;
	backdrop-filter: blur(16px);
	height: 30%;
	align-content: center;
	margin: 0;
}

.speaker__footer > h2 {
	font-size: 1em;
	letter-spacing: 2px;
	margin: 0;

}

.speaker__footer > p {

}

.speaker:is(:hover, :focus-visible) {
	--hover: 1;
}

.speaker__img:is(:hover, :focus-visible) {
	--hover: 1;
	opacity: 0.4;

	transition: 80ms;

}


