


@media only screen and (max-width: 950px) {

	.ticket-container{
		margin: 0;
		padding: 5em;
			background-color: #000000;
		background-image: url("register.jpg");
		background-size: cover;
		background-position: center;


	}

	.tickets{

		width: 100%;
		padding-bottom: 1em;
		display: flex;
		flex-direction: column;
		gap: 2em;

	}

	.ticket{
		border-radius: 10px;
		padding: 3em;
		list-style: none;
		color: white;
		background: rgba(29, 8, 8, 0.062);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		border: 1px solid rgba(255, 255, 255, 0.3)

	}

	.ticket > ul{
			list-style: none;
			padding: 1em;
			padding-left: 0px;

	}

	.ticket > ul h5{
			margin-bottom: 1em;
	}
	.ticket > h1{
		font-size: 2em;
		padding-left: 0px;
	}
/*
	.buy{
		text-align: center;
		display: flex;
		padding: 0.5em 1em;
		border-radius: 30px;
		border: 1px solid palegreen;
		align-content: center;
		justify-content: center;

	} */

	.buy > a{
		text-decoration: none;
		font-weight: bold;
		letter-spacing: 1px;


	}

	.icon{
		padding-right: 1em;
	}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.buy {

	font-family: Roboto, sans-serif;
	font-weight: 0;
	font-size: 14px;
	color: #fff;
	background: linear-gradient(0deg, rgb(143, 0, 158) 0%, rgba(190, 110, 190, 1) 7%, rgba(253, 187, 45, 1) 100%);
	padding: 10px 30px;
	box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
	border-radius: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	text-align: center;
	justify-content: center;
	max-width: 300px;
	margin-bottom: 1em;
}

.buy:hover {

	transition: 800ms;
	/* padding: 10px 50px; */
	background-color: #02ef61;
	color: #ffffff;
	border: solid 2px #000000;
}


}